@charset "utf-8";
/* CSS Document */

a {
	text-decoration:underline;
	font-size:18px;
	color:#F90;
	
}

body {
	background-color:#FF6;

}

b {
	text-decoration:underline;
	color:#F60;
}